@mixin inlineResize($image-url: '', $size-list: '', $dimension: 'w') {
	background: url(#{$image-url});

	@for $i from 1 through length($size-list) {
	    $thisSize: nth($size-list, $i);
	    @media (max-width: #{$thisSize}px) {
			background-image:url(#{$image-url};#{$thisSize}#{$dimension});
		}
	}
}