




.fullscreen {
	// .bg-container,
	.bg-item  {
	    height: 100%;
	    width: 100%;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    overflow: hidden;
	    
	    z-index: 10;
	}

	.bg-item {
		background-color: black;
	    img {
	    	position: absolute;
	    	min-width: 100%;
	    	&.bg1 {

	    	}
	    	&.bg2 {
	    		bottom: 0;
	    		right: 0;
	    	}
	    }
    }

	.nav-home {
		z-index: 20;
	}


	/* 
	 * interaction 
	 */
	.bg-item  {
		opacity: 0;
		transform: matrix(1.1, 0, 0, 1.1, 0, 0);
		filter: sepia(0%);
		will-change: transform, opacity, filter;


		transition: 
			transform .3s ease-in-out,
			opacity .3s ease-in-out,
			filer .3s ease-in-out;
	}



	&.is-hover-inspiration .bg-item-inspiration,
	&.is-hover-deluxe .bg-item-deluxe,
	&.is-hover-nightlife .bg-item-nightlife,
	&.is-hover-care .bg-item-care {
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 0, 0);
		filter: sepia(25%);
	}


	

}


/*
 * fs-vid-background
 */
.fs-vid-background {
	@media all and (max-width: $breakpointTablet) {
		display: none;
	}
	video {
		min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;

		position: absolute;
		top: 50%;
		left: 50%;


		transform: translate(-50%,-50%); 
	}

	+ .background-image-holder {
		
		@media all and (max-width: $breakpointTablet) {

			background: url(/assets/img/home15.jpg);
		}
		background: none;
	}

}


/*
 * mobile content
 */
.-is-desktop {
	@media all and (max-width: $breakpointTablet) {
		display: none;
	}
}
	









