.image-square {
	$transitionWidth: 20vw;
	.image {
		overflow: hidden;
		background-color: #444;
	}
	.img_hover {
		position: absolute;
	    top: 0;

	    height: 100%;
	    width: $transitionWidth;
		
		padding: 10px;
	    background-color: white;

	    img {
		    min-width: initial;
		    min-height: initial;
		    width: 100%;
		    height: auto;
		   
	    }
	}
	.background-image-holder, {
		overflow: hidden;
	}




	/*
	 * animation
	 */
	// @keyframes open {
 //        0%    {transform: translate3d(0,0,0);}
 //        70%   {transform: translate3d(-30vw,0,0);}
 //        100%  {transform: translate3d(-20vw,0,0);}
 //    }


	.background-image-holder,
	.img_hover {
		will-change: transform, opacity;
		transition: all 0.3s ease-in-out;
		
	}
	.img_hover {
		transition: all 0.4s ease-out;
		opacity: 0;
	}
	

	// init state
	&.left {
		.img_hover {
			right: 0;
			transform: translate3D( $transitionWidth - 10vw,0,0) scale(.8);
		}
	}
	&.right {
		.img_hover {
			left: 0;
			transform: translate3D(-$transitionWidth + 10vw,0,0) scale(.8);
		}
	}



	// hover state
	&.--image-square-effect {
		&.left:hover,
		&.right:hover {
			.img_hover {
				opacity: 1;
			}
			.img_hover {
				transform: translate3D(0,0,0) scale(1.02);
			}
		}
		&.left:hover {
			// .img_hover {
			// 	transform: translate3D(0,0,0) scale(1.1);
			// }
			.background-image-holder {
				transform: translate3D(-$transitionWidth,0,0);
				// animation: open .5s ease-in-out;
				// animation-fill-mode: forwards;
				// // animation-iteration-count: 1;
			}
		} 
		&.right:hover {
			// .img_hover {
			// 	transform: translate3D(0,0,0) scale(1.1);
			// }
			.background-image-holder {
				transform: translate3D($transitionWidth,0,0);
			}
		}
	}
	



}