

.background-image-holder.srcset,
.img_hover.srcset {
	
	
	
	img {
		//  reset
		display: block;	
		
		// fill container
		position: absolute;
		top: 50%;                          // Vertical center offset
		left: 50%;                         // Horizontal center offset


		transform: translate(-50%,-50%);   // Cover effect: compensate the offset

		min-width: 100%;                   // Expand
		min-height: 100%; 
		width: auto;                       // Keep aspect ratio
		height: auto;
		z-index: -1;                       // Put on background
		overflow: hidden;

		.-small & {
			top: initial;
			bottom: 0;
			left: 0;
			
			
			transform: none;
		}
	}
	

	.parallax > & {
		@media (max-width: 767px) {
		    top: -50vh !important;
		    transform: none !important;
		}

		// .-small & img,
		img {
			max-width: inherit;
		}
	}

}






/*
 * lazysizes unveil
 */
.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
/*
 * lazysizes noscript
 */
.no-js img.lazyload {
    display: none;
}