
/* main menu */
svg.logo {
	max-height: inherit;

	width: 100px;
	height: inherit;
	

	vertical-align: middle;

	path, 
	polygon {
		stroke: white;
		fill  : white;
  	}

  	nav.fixed &,
  	nav > .nav-open & {
  		path,
	 	polygon {
			stroke: $bg-dark;
			fill  : $bg-dark;
		}
  	}


	.-small & {
		max-height: 100%;
		width: 100%;
	}
}



/* home page */
.menu-wrapper {
	.logo {
		min-width: 250px;
	}

	.logo > a {
		position: relative;
		top: -20px;

		display: block;
		margin-right: 50px;
		@media all and (max-width: 990px) {
			margin-right: 0;
			pointer-events: none;  
		}
	}
}





/* footer */
footer {
	svg.logo {
		position: relative;
		top: -20px;
		width: 100px;
		height: auto;
	}
	@media (max-width: 768px) {
		.row > * {
			text-align: center;
		}
		.social-list {
			margin-top: 20px;	
		}
	}
}