
/* main menu */
svg.logo {
	max-height: inherit;

	width: 100px;
	height: inherit;
	

	vertical-align: middle;

	path, 
	polygon {
		stroke: white;
		fill  : white;
  	}

  	nav.fixed & {
  		path,
	 	polygon {
			stroke: $bg-dark;
			fill  : $bg-dark;
		}
  	}

  	.page_home & {
		width: 60%;
	}
}



/* home page */
.menu-wrapper {
	.logo > a {
		display: inline-block;
		width: 300px;
	}
}


/* footer */
footer .logo {
	svg.logo {
		width: 100px;
		height: auto;
	}
}