
/* main menu */
svg.logo {
	max-height: inherit;

	width: 100px;
	height: inherit;
	

	vertical-align: middle;

	path, 
	polygon {
		stroke: white;
		fill  : white;
  	}

  	nav.fixed &,
  	nav > .nav-open & {
  		path,
	 	polygon {
			stroke: $bg-dark;
			fill  : $bg-dark;
		}
  	}


 //  	.page_home & {
	// 	width: 60%;
	// }
}



/* home page */
.menu-wrapper {
	.logo {
		min-width: 250px;
	}

	.logo > a {
		position: relative;
		top: -20px;

		display: block;
		margin-right: 50px;
	}
}


/* footer */
footer .logo {
	svg.logo {
		width: 100px;
		height: auto;
	}
}