

.mce_inline_error,
#mce-success-response {
	margin-top: 1em !important;
}

div.mce_inline_error {
	background: #ce3838 !important;
}
div#mce-success-response {
	padding: 5px 10px;
	background: #47b475 !important;
}

    