.menu-wrapper {
  position: relative;
  margin: 0 auto;
  display: table;
  width: 95%;
  top: 50%;
  height: 118px;
  margin-top: -59px;
}


.menu-wrapper .cursor {
  overflow: hidden;
  position: relative;
  top: 18px;
  white-space: nowrap;
  font-size: 0px;
}

.menu-wrapper .cursor .large {
  display: inline-block;
  visibility: hidden;
  position: relative;
  top: 0px;
  width: 27px;
  height: 3px;
  background-color: white;
}
.menu-wrapper .cursor .fine {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 0%;
  height: 1px;
  background-color: white;
}

.menu-wrapper .item-nav {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  /*font-family: 'Trajan W01 Regular';*/
  font-size: 14px;
  width: 20%;
  text-align: left;
}
.menu-wrapper .item-nav .link-wrapper {
  position: relative;
  display: inline-block;
  text-align: left;
  z-index: 10;
}


.menu-wrapper .item-nav .link-wrapper > a {
  text-decoration: none;
}
.menu-wrapper .item-nav .link-wrapper > a > span {
  font-size: 22px;
  /*font-family: 'Trajan W01 Bd';*/
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.menu-wrapper .item-nav.selected .link-wrapper > .cursor .large {
  visibility: visible !important;
  width: 27px !important;
}
.menu-wrapper .item-nav .submenu {
  display: none;
}

