<!-- <div class="nav-container">
	<nav class="absolute transparent">
		<div class="nav-bar">
			<div class="module left">
				<a href="index.html">
					
					Keralock
				</a>
			</div>
			<div class="module widget-handle offscreen-toggle right">
				<i class="ti-menu"></i>
			</div>
		</div>
		<div class="offscreen-container bg-dark text-center">
			<div class="close-nav">
				<a href="#">
					<i class="ti-close"></i>
				</a>
			</div>
			<div class="v-align-transform text-center">
				<a href="#">
					keralock
				</a>
				<ul class="mb40 mb-xs-24">
					<li class="fade-on-hover"><a href="#"><h5 class="uppercase mb8">Single Link</h5></a></li>
				</ul>
				<p class="fade-half">
					438 Malvern Road<br>
					Armadale, VIC 3134<br>
					(03) 38237 37263<br>
					hello@foundry.net
				</p>
				<ul class="list-inline social-list">
					<li>
						<a href="#">
							<i class="ti-twitter-alt"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="ti-dribbble"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="ti-vimeo-alt"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

</div> -->